@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,300');
@import '../abstract/variables';
@import '../abstract/mixins';

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1200;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-inner {
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  border-radius: .5rem;
  background: #fff;
  width: 90%;
  max-width: 500px;
  padding: 1rem;
  position: relative;

  .modal-top {
    background-color: #000000;
    color: white;
    padding: 2rem;
    border-top-left-radius: .5rem;
    border-top-right-radius: .5rem;
    text-align: center;

    i {
      font-size: 2.25rem;
      margin-bottom: .25rem;
      display: block;
    }

    h4 {
      font-weight: 200;
      margin-bottom: 0;
    }
    img{
      height: 90px;

      object-fit: cover;
    }
  }

  .modal-content {
    background: #f5f5f5;
    padding: 2rem;

    .login-form {
      display: flex;
      flex-direction: column;
      align-items: center;

      .form-group {
        width: 100%;
        margin-bottom: 1rem;

        .form-control {
          width: calc(100% - 20px);
          padding: 0.75rem;
          border: 1px solid #ccc;
          border-radius: 4px;
          box-sizing: border-box;
          margin: 0 auto;
        }

        input[type="date"] {
          padding: 0.75rem;
        }
      }

      .btn {
        width: 100%;
        padding: 0.75rem;
        background-color: #000000;
        color: white;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        margin-top: 1rem;
      }

      .btn-primary:hover {
        background-color: #000000;
      }

      .register-link {
        margin-top: 1rem;
        color: #0c0d0e;
        cursor: pointer;
      }

      small {
        color: #4e4e4e;
        margin-top: 1rem;
        padding: 0.75rem;
        font-size: 12px;
      }
    }
  }

  .close-button {
    position: absolute;
    top: 14px;
    right: 10px;
    background-color: transparent;
    border: none;
    font-size: 20px;
    color: #ffffff;
    cursor: pointer;
  }

  @media (max-width: 768px) {
    .modal-inner {
      width: 95%; /* Aumenta el ancho en pantallas pequeñas */
      padding: 1rem;
    }

    .modal-top {
      padding: 1rem; /* Reduce el padding en pantallas pequeñas */
    }

    .modal-content {
      padding: 1rem; /* Reduce el padding en pantallas pequeñas */
    }

    .close-button {
      font-size: 1.25rem; /* Ajusta el tamaño del botón de cerrar */
    }
  }
  
  @media (max-width: 480px) {
    .modal-inner {
      width: 100%; /* Asegúrate de que el modal ocupe el 100% del ancho en pantallas muy pequeñas */
      border-radius: 0; /* Quita el radio de borde en pantallas muy pequeñas */
    }

    .modal-top {
      font-size: 0.875rem; /* Ajusta el tamaño del texto */
      padding: 0.75rem; /* Reduce el padding */
    }

    .modal-content {
      padding: 0.75rem; /* Reduce el padding */
    }
  }
}