@import "../abstract/animations";

@mixin flex-container($direction, $justify, $align) {
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
}

@mixin flex-item($grow: 0, $shrink: 1, $basis: auto) {
    flex: $grow $shrink $basis;
}

 @mixin button-hover-effect($color) {
        &:hover {
          transform: translateY(-3px);
          box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
          text-decoration: none;
        }
      
        &:active {
          transform: translateY(1px);
          box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
          text-decoration: none;
        }
      
        &::after {
          content: "";
          transition: all 0.4s;
        }
      
        &:hover::after {
          transform: scaleX(1.4) scaleY(1.6);
          opacity: 0;
        }
      
        &--animated {
          animation: moveToTop 0.5s ease-in-out 0.75s;
          animation-fill-mode: backwards;
        }
      }


@mixin mobile($min-width: 360px, $max-width: 460px){
    @media only screen and (min-width: #{$min-width}) and (max-width: #{$max-width}){
        @content;
    };
}
@mixin laptop($min-width: 768px, $max-width: 1600px){
    @media only screen and (min-width: #{$min-width}) and (max-width: #{$max-width}){
        @content;
    }
}

$breakpoints: (
  mobile: 768px,
  tablet: 1024px,
  desktop: 1920px
);

// Mixin respond()
@mixin respond($breakpoint) {
  $value: map-get($breakpoints, $breakpoint); 
  @if $value {
    @media (max-width: $value) {
      @content; 
    }
  } @else {
    @warn "El punto de quiebre `#{$breakpoint}` no está definido en los breakpoints.";
  }
}
 //sticky navbar SCROLL
  @mixin sticky-navbar($top: 0) {
    position: sticky;
    top: $top;
    width: 100%;
    z-index: 1000;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease;
  }